<div class="container">
  <div class="header-container">
    <img src="https://s17.postimg.cc/ypm5ye95r/image.jpg" alt="" class="header-image" />
    <div class="header">
      <h1 class="main-heading">{{currentUser['lastName']+' '+currentUser['firstName'] |uppercase }}</h1>
      <span class="tag">{{currentUser['roles']}}</span>
      <div class="stats">
        <span class="stat-module">
          Movies <span class="stat-number">56</span>
        </span>
        <span class="stat-module">
          Plays <span class="stat-number">29</span>
        </span>
        <span class="stat-module">
          Musicals <span class="stat-number">11</span>
        </span>
      </div>
    </div> <!-- END header -->
  </div>

  <div class="overlay-header"></div>

  <div class="body">
    <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="Hugh Jackman" class="body-image" />

    <span class="body-stats">Followers <span>3.5k</span></span>
    <span class="body-stats">Following <span>1.9k</span></span>
    <div class="u-clearfix"></div>
    <div class="body-info">
      <p>
        Hugh Michael Jackman is an Australian actor, singer and producer. Jackman has won international recognition for his roles in variety of film genres.
      </p>
      <p>
        In Broadway theatre, Jackman won a Tony Award for his role in The Boy from Oz. A four-time host of the Tony Awards themselves, he won an Emmy Award for one of these appearances. Jackman also hosted the 81st Academy Awards on 22 February 2009.
      </p>
    </div>
  </div>

</div>
