<div class="container">
  <h2 class="title"
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      cdkDragBoundary=".cdk-overlay-container"
      cdkDragHandle>
    {{data['first_name']}} details :
  </h2>
  <div class="content">
    <p><mat-icon>person</mat-icon> Username: {{ data['username'] }}</p>
    <p><mat-icon>email</mat-icon> Email: {{ data['email'] }}</p>
    <p><mat-icon>credit_card</mat-icon> CIN: {{ data['cin'] }}</p>
    <p><mat-icon>lock</mat-icon> Role: {{ data['roles'] }}</p>
    <p><mat-icon>today</mat-icon> hiringDate: {{ data['hiringDate'] }}</p>
    <p><mat-icon>cake</mat-icon> birthday: {{ data['birthday'] }}</p>
    <p><mat-icon>verified_user</mat-icon> userRights: {{ data['userRights'] }}</p>
    <p><mat-icon>wc</mat-icon> gender: {{ data['gender'] }}</p>
    <p><mat-icon>timer</mat-icon> tokenExpiresAt: {{ data['tokenExpiresAt'] }}</p>
  </div>
  <div class="actions">
    <button mat-raised-button (click)="openEditDialog()">Edit</button>
  </div>
</div>
