.topPanel {
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 60px;
}

.topPanel__left {
  display: flex;
  align-items: center;
  margin-right: -25px;
  background-color: #0c1e35;
  border-radius: 5px;
}

.topPanel__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #f7fafc;
  height: 30px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none; /* Ajout de cette ligne */
}

.topPanel__left:hover,
.topPanel__left:active {
}

.topPanel__button_icon {
  background-color: transparent;
  color: #f7fafc;
  width: 30px;
  border: none;
  cursor: pointer;
  padding-left: 5px;
}

.topPanel__icon {
  font-size: 24px;
}

.topPanel__icon:hover,
.topPanel__icon:active {
  transform: scale(1.2);
}


.topPanel__right {
  margin-right: 20px;
}

.container {
  display: flex;
}

.leftContainer {
  background-color: transparent;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}

.rightContainer {
  overflow-y: hidden;
  transition: width 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  top: -60px;
  right: -30px;
}


.main {
  padding: 20px;
}

.div1 {
  margin-bottom: 20px;
}

.mat-table{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
table {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;}
th{
  background-color: rgba(51, 102, 153, 0.2);
  color: #369;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
td{
  font-family: Arial;
  color: #030f23;
  font-size: 12px;
}

.delButton {
  color: #f34642;
  cursor: pointer;
}
.UpdateButton {
  padding-left: 15px;
  color: #003a98;
  cursor: pointer;
}
.greenIcon{
  color: #6a9f85;
  cursor: pointer;
}
.redIcon{
  color: #f34642;
  cursor: pointer;
}
