.topPanel {
  background-color: #165e92;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 60px;
  border-radius: 5px;
}

.topPanel__left {
  display: flex;
  align-items: center;
}

.topPanel__button {
  margin-right: 10px;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.close-icon {
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
}

.leftContainer {
  background-color: transparent;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}

.rightContainer {
  overflow-y: hidden;
  transition: width 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.main {
  padding: 20px;
}

.div1 {
  margin-bottom: 20px;
}

.mat-table{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
table {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;}
th{
  background-color: rgba(51, 102, 153, 0.2);
  color: #369;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
td{
  font-family: Arial;
  color: #030f23;
  font-size: 12px;
}
