<mat-card class="card card-md">
  <div class="card-stamp card-stamp-lg">
    <div class="card-stamp-icon bg-primary">
      <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7"></path><path d="M10 10l.01 0"></path><path d="M14 10l.01 0"></path><path d="M10 14a3.5 3.5 0 0 0 4 0"></path></svg>
    </div>
  </div>
  <mat-card-content class="card-body">
    <div class="row align-items-center">
      <div class="col-10">
        <h3 class="title">Project</h3>
        <div class="markdown text-muted">
          This button serves the purpose of creating a new project.
          A project is a designated endeavor that requires careful planning and execution.
          Once created, a project encompasses various tasks,
          which are specific actions or assignments that need to be completed in order to achieve the project's objectives.
        </div>
        <div>
          <button mat-raised-button color="primary" [routerLink]="''">Create New Project</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
