@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root{
  --main-color: #11101d;
  --color-dark: #1D2231;
  --text-grey:  #8390A2;
}

main{
  margin-top: 1px;
  background: transparent;
}
.cards{
  display: grid;
  width: 300px !important;
}
.card-single{
  display: flex;
  width: 90% ;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24), 0 15px 40px rgba(0, 0, 0, 0.8) !important;
  justify-content: space-between;
  background: #0c1e35 ;
  padding: 1.5rem;
  animation: animeCard 2s cubic-bezier(0.16, 1, 0.3, 1);

}
.card-single div:last-child span{
  color: var(--main-color);
  font-size: 3rem;
}
.card-single div:first-child span{
  color: var(--text-grey);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span
{
  color: #a3c7d6;
}

.card-single:last-child div:last-child span
{
  color: #5D8393FF;
}
.card-icon {
  color: #5D8393FF;
  animation: animeCardIconColor 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes animeCard {
  0% {
    width: 60% ;
  }
  100% {
    width: 90% ;
  }
}

@keyframes animeCardIconColor {
  0% {
    color: #0c1e35;
  }
  50% {
    color: #0c1e35;
  }
  75% {
    color: #5D8393FF;
  }
  100% {
    color: #5D8393FF ;
  }
}
