<div *ngIf="displayMenu">
  <app-dashboard-layout [configuration]="configuration" >
    <div container="sidePanel" >
      <app-navigation-side-panel [links]="links"></app-navigation-side-panel>
    </div>
    <div container="navigationBar">
      <app-navigation-bar></app-navigation-bar>
    </div>
    <div container="mainContent" class="mainContent">
      <router-outlet></router-outlet>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </app-dashboard-layout>
</div>
<div *ngIf="!displayMenu">
  <app-login></app-login>
</div>
