
.container {
  display: flex;
  width: 100%;
}

.leftContainer {
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.leftContainer:before {
  font-family: monospace;
  content: attr(data-state);
  margin-bottom: 0.5em;
}
.rightContainer {
  flex: 1 1 0;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: width 0.5s ease-in;
  animation-name: slide-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slide-left {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(0%);
  }
}

.rightContainer:before {
  font-family: monospace;
  content: attr(data-state);
  margin-bottom: 0.5em;
}
.close-button {
  width: 40px;
  background: #0c1e35;
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  display: block;
  z-index: 200;
  text-indent: -9999px;
}
.close-button:before,
.close-button:after {
  content: '';
  width: 55%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:hover:before,
.close-button:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.div1 {
  width: 65% ;
  height: 68vh ;
  float: left !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}

.div2 {
  position: relative;
  padding-right: -30px;
  background-color: rgba(232, 106, 146, 0.13);
  height: 33vh ;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;  margin: 20px 0;
  border-radius: 8px;
}
.div3 {
  padding-right: 0px;
  background-color: rgb(51, 83, 103);
  height: 36vh !important;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;  border-radius: 8px;
}

.right {
  display: grid;
  transform: scale(0);
  animation: scale-in 1s forwards;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.right-div-header {
  background: #0c1e35;
  height: 20px;
  color: #a3c7d6;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: sticky;
  top: 0;
}

.right-div-body {
}


h3 {
  font-family: Arial;

}
.mat-table{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
table {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;}
th{
  background-color: rgba(51, 102, 153, 0.2);
  color: #369;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
td{
  font-family: Arial;
  color: #030f23;
  font-size: 12px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.hidden-row {
  display: none;
}
tr:hover {
  background-color: #f5f5f5;
}

.clicked-outside {
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes example {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 78%;
  }
}


.AddButton {
  color: #0D0C1E;
  cursor: pointer;

}

.delButton {
  color: #f34642;
  cursor: pointer;
}
.UpdateButton {
  padding-left: 15px;
  color: #003a98;
  cursor: pointer;
}
.mat-form-field-filter {
  width: 100%;
}


.topPanel {
  background-color: #165e92;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 60px;
}

.topPanel__left {
  display: flex;
}

.topPanel__button {
  margin-right: 10px;
  background-color: rgba(13, 12, 30, 0.84);
  color: #f7f1e5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.topPanel__button:hover {
  background-color: rgba(13, 12, 30, 0.57);
}

.topPanel__right {
  margin-right: 20px;
}
