<div class="container">
  <h2 class="title"
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      cdkDragBoundary=".cdk-overlay-container"
      cdkDragHandle>
    {{data['name']}} details :
  </h2>
  <div class="content">
    <p><mat-icon>email</mat-icon> Email: <span (click)="makeEditable('email')" [contentEditable]="emailEditable">{{ data['email'] || 'Nothing to show' }}</span></p>
    <p><mat-icon>location_city</mat-icon> Location: <span (click)="makeEditable('location')" [contentEditable]="locationEditable">{{ data['location'] || 'Nothing to show' }}</span></p>
    <p><mat-icon>website</mat-icon> Website: <span (click)="makeEditable('website')" [contentEditable]="websiteEditable">{{ data['website'] || 'Nothing to show' }}</span></p>
    <p><mat-icon>people_alt</mat-icon> Capacity: <span (click)="makeEditable('capacity')" [contentEditable]="capacityEditable">{{ data['capacity'] || 'Nothing to show' }}</span></p>
    <p><mat-icon>receipt</mat-icon> Tax Number: <span (click)="makeEditable('tax_number')" [contentEditable]="taxNumberEditable">{{ data['tax_number'] || 'Nothing to show' }}</span></p>
    <p><mat-icon>business_center</mat-icon> Identity Number: <span (click)="makeEditable('identity_number')" [contentEditable]="identityNumberEditable">{{ data['identity_number'] || 'Nothing to show' }}</span></p>
    <p>
      <mat-divider></mat-divider>
      <mat-icon>timer_off</mat-icon>
      Expiration:
      <span (click)="makeEditable('deletedFileExpiration')">
        <mat-form-field appearance="outline" class="expiration-date">
          <input matInput [matDatepicker]="expirationDatePicker" [contentEditable]="deletedFileExpirationEditable" value="{{ data['deletedFileExpiration'] || 'Nothing to show' }}" readonly>
          <mat-datepicker-toggle matSuffix [for]="expirationDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #expirationDatePicker></mat-datepicker>
        </mat-form-field>
      </span>
    </p>
    <p>
      <mat-divider></mat-divider>
      <mat-icon>business_center</mat-icon> Departments: <span (click)="makeEditable('departments')" [contentEditable]="departmentsEditable">{{ data['departments'] || 'Nothing to show' }}</span></p>
  </div>
  <mat-card-actions>
    <button mat-button>
      <mat-icon >update</mat-icon>
      Save Changes
    </button>
  </mat-card-actions>
</div>
