.container {
  display: block;
  justify-content: center;
  align-items: flex-start;
}

.title {
  padding: 10px 24px;
  background: #0c1e35;
  color: #fff;
  text-transform: uppercase;
  box-shadow: rgba(255, 255, 255, 0) 0px 1px 3px 0px, rgb(0, 0, 0) 0px 1px 2px 0px;
}

.content {
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  color: #0c1e35;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.actions {
  margin-top: 10px;
  padding: 8px 24px;
  background: #0c1e35;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0) 0px 1px 3px 0px, rgb(0, 0, 0) 0px 1px 2px 0px;
}

button {
  background: #0c1e35 !important;
  color: white !important;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 120px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
