<div class="topPanel" [class.clicked-outside]="isClickedOutside">

  <div class="topPanel__left" >
    <a mat-fab extended class="topPanel__button" (click)="openAddDepartmentDialog()">
      <mat-icon>add</mat-icon>Add</a>
    <mat-button class="topPanel__button_icon" (click)="toggleWidth()" *ngIf="toggled" [ngStyle]="{'opacity':opacity }">
      <mat-icon class="topPanel__icon" (click)="toggleWidth()" *ngIf="toggled" [ngStyle]="{'opacity':opacity }">close</mat-icon>
    </mat-button>
  </div>

</div>


<div class="main" [class.clicked-outside]="isClickedOutside">
  <div class="div1">
    <div *ngIf="isLoading; else table">
      <div *ngFor="let item of totalItem">
        <app-content-loader></app-content-loader>
      </div>
    </div>

    <mat-form-field class="mat-form-field-filter" >
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>

      <table mat-table [dataSource]="dataSource">
        <ng-template #table>
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
            <td mat-cell *matCellDef="let department" (click)="onRowClicked(department,$event)">{{ department[column] }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let department">
              <mat-icon class="delButton" (click)="onDeleteDepartment(department)">delete</mat-icon>
              <mat-icon class="UpdateButton" (click)="onUpdateDepartment(department)">edit</mat-icon>
            </td>
          </ng-container>
        </ng-template>
        <tr mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns.concat('actions');"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of copmanys"></mat-paginator>
  </div>
  <div class ="right">
    <div class="div2">
      <div class="right-div-header">
        <h3></h3>
      </div>
      <div class="right-div-body">
        <app-doughnut></app-doughnut>
      </div>
    </div>
    <div class="div3">
      <div class="right-div-body">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>
</div>
