.topPanel__left {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: -1;
  margin-right: -25px;
  background-color: #0c334f;
  border-radius: 5px;
  margin-left: -40px;
  right: -10px;
}

.topPanel__button {
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #f7fafc;
  height: 30px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none; /* Ajout de cette ligne */
}

.topPanel__left:hover,
.topPanel__left:active {
}

.topPanel__button_icon {
  background-color: transparent;
  color: #f7fafc;
  width: 30px;
  border: none;
  cursor: pointer;
  padding-left: 5px;
}

.topPanel__icon {
  font-size: 24px;
}

.topPanel__icon:hover,
.topPanel__icon:active {
  transform: scale(1.2);
}


.topPanel__right {
  margin-right: 20px;
}
.main {
}
.div1 {
  width: 65% ;
  height: 68vh ;
  float: left !important;
  box-shadow: none;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}


.div3 {

}

.right {
  box-shadow: none;
  display: grid;
  transform: scale(0);
  animation: scale-in 1s forwards;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


.right-div-body {
}



.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h3 {
  font-family: Arial;

}
.mat-table{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;}

table {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
th{
  background-color: #0c334f;
  color: white;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
td{
  font-family: Arial;
  color: #030f23;
  font-size: 12px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.hidden-row {
  display: none;
}
tr:hover {
  background-color: #f5f5f5;
}


.clicked-outside {
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes example {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 78%;
  }
}

.user-widget {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.user-widget h2 {
  font-size: 36px;
  margin: 0;
}

.user-widget p {
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}

.AddButton {
  color: #0D0C1E;
  cursor: pointer;

}

.delButton {
  color: #f34642;
  cursor: pointer;
}
.UpdateButton {
  padding-left: 15px;
  color: #003a98;
  cursor: pointer;
}
.mat-form-field-filter {
  width: 100%;
}
