<h2>Edit User</h2>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Account Status:</mat-label>
    <mat-select formControlName="account_status">
      <mat-option [value]="1">Active</mat-option>
      <mat-option [value]="0">Blocked</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input matInput type="text" id="email" formControlName="email">
    <mat-error *ngIf="editForm.controls['email'].invalid && editForm.controls['email'].touched">
      Please enter a valid email.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Roles:</mat-label>
    <mat-select id="roles" formControlName="roles" multiple>
      <mat-option [value]="'ROLE_ADMIN'">Admin</mat-option>
      <mat-option [value]="'ROLE_USER'">User</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="editForm.controls['roles'].invalid && editForm.controls['roles'].touched">
    <small class="error-message">Please select at least one role.</small>
  </div>




  <h3>User Skills</h3>
  <div *ngIf="userSkills.length > 0; else noSkillsExist">
    <mat-chip-list>
      <mat-chip *ngFor="let skill of userSkills" class="skill-chip">
        <strong>{{ skill.name }}</strong> (Rate: {{ skill.rate }})
      </mat-chip>
    </mat-chip-list>
  </div>

  <ng-template #noSkillsExist>
    <p>No skills exist.</p>
  </ng-template>




  <div class="button-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Submit</button>
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
