

.para {
  font-size: 12.5px;
  text-align:left;
  text-transform: none;
}

h1 {
  background-color: #165e92;
  color: white;
  margin: 0;
  padding: 9.5px 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
h6 {
  background-color: #165e92;
  color: white;
  margin: 0;
  padding: 9px 20px;
  text-transform: uppercase;
  font-weight: normal;
}
h2 {
  background-color: #165e92;
  color: white;
  margin: 0;
  padding: 19px 20px;
  text-transform: uppercase;
  font-weight: normal;
  align-content: center;
}

li {
  background: white;
  height: 40px;
  line-height: 40px;
  color: #0b2f48;

}

li:nth-child(2n) {
  background: #f7f7f7;
}


#hide {
  float: right;
  margin-right:4%
}

#container {
  position: relative;
  width: 205%;
  background: #f7f7f7;
  border-radius: 5px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.completedToDo {
  color:gray;
  text-decoration: line-through;
}


.footer {
  color:gray;
  text-decoration: line-through;
}

.visible {

}

.delSpan {
  background: #6a9f85;
  height: 40px;
  margin-right: 0;
  text-align: center;
  color: white;
  display: inline-block;
  width: 0;
  transition: 0.2s linear ;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}





.hideComplete, .noToDo {
  display: none !important;
}

.h1Change {
  text-align: center;
  border: 3px solid red;

}


.move {
  background-color: #3a98b9;
  height: 40px;
  margin-right: 20px;
  margin-left: -3.516px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 0;
  transition: 0.2s linear ;
  opacity: 0;
}


.appendToDo {
  text-decoration: none;
  list-style-type: none;
}
