
<div id="container">
  <h1>TOP 3 EMPLOYER
    <p id="completedToDo" class="complete para">See completed list</p>
  </h1>

  <ul id="ulToDo" *ngFor="let user of users | slice:0:3">
    <li class="comp"> <span class="delSpan">
      <i class="fa fa-trash" aria-hidden="true">
      </i>
    </span>
      <span class="move">
        <i class="fa fa-check" aria-hidden="true">
        </i>
      </span>
      <span>
        {{ user.email }}
      </span>
    </li>
  </ul>
  <h2>
    <p id="footer" class="complete para">
      Select a user and mail him
    </p>
  </h2>
</div>
