:root {
  --menu-width-open: 180px;
  --menu-width-closed: 64px;
}
body {
  margin: 0px !important;
  padding: 0px !important;
}
.custom-toolbar {
  height: 60px !important;
}
.mat-drawer-container.custom-drawer-container {
  top: 64px !important;
  left: -60px !important;
}
.mat-drawer-container .mat-drawer {
  box-sizing: content-box;
  width: var(--menu-width-open);
  transition: all 0.3s ease-in-out !important;
}
.mat-drawer-container .mat-drawer-content {
  margin-left: 0px!important;
  transition: all 0.3s ease-in-out !important;
}
.mat-drawer-container.container-closed .mat-drawer {
  width: var(--menu-width-closed);
}
.mat-drawer-container.container-closed .mat-drawer-content {
  margin-left: var(--menu-width-closed) !important;
}

