<div class="container">
  <app-widget [background]="'linear-gradient(to right, #141e30, #243b55)'" [iconClass]="'fas fa-users'" [value]="'3'" [label]="'Total users'"></app-widget>
  <app-widget [background]="'linear-gradient(to right, #000428, #004e92)'" [iconClass]="'fas fa-user-friends'" [value]="'3'" [label]="'Active users'"></app-widget>
  <app-widget [background]="'linear-gradient(to right, #41295a, #2f0743)'" [iconClass]="'fas fa-chart-line'" [value]="'3'" [label]="'Growth'"></app-widget>
</div>


