<div class="container">
  <div class="item cardNumber">
    <app-widget [name]="'Companies'"
                [value]="companyTasksCount.toString()"
                [label]="'business'">
    </app-widget>
    <app-widget [name]="'Users'"
                [value]="usersCount.toString()"
                [label]="'person_outline'">
    </app-widget>
    <app-widget [name]="'Projects'"
                [value]="projectsCount.toString()"
                [label]="'business_center'">
    </app-widget>
    <app-widget [name]="'Taks'"
                [value]="projectsCount.toString()"
                [label]="'done'">
    </app-widget>
  </div>
  <div class="item sidebar">
    <app-profile></app-profile>
  </div>
  <div class="item content-1">
    <div style="display: flex;">
      <div style="flex: 1;">
        <app-chart-double></app-chart-double>
      </div>
      <div style="flex: 1;margin-top: -20px">
        <app-chart-task6></app-chart-task6>
      </div>
    </div>
  </div>

  <div class="item content-2">
    <app-top-users></app-top-users>
  </div>
  <div class="item content-3">
    <app-chart-clt></app-chart-clt>
  </div>
</div>


<div id="wrapper">
  <div class="divCP">
    <app-layout-cp></app-layout-cp>
  </div>

  <header>
    <nav>
      <a *ngFor="let project of projects | slice:0:4">
        <app-card-project [project]="project"></app-card-project>
      </a>
    </nav>
  </header>
  <main>
    <app-tab-users></app-tab-users>
  </main>
  <section>
    <div>s2</div>
    <div>s3</div>
    <div>s4</div>
    <div>s5</div>
  </section>
  <footer>footer</footer>
</div>


