<div class="container">
  <h2 class="title"
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      cdkDragBoundary=".cdk-overlay-container"
      cdkDragHandle>
    Project Details
  </h2>
  <div class="content">
    <p><mat-icon>featured_play_list</mat-icon> Project ID: {{ data['id'] }}</p>
    <p><mat-icon>person</mat-icon> Owner: Imed</p>
    <p><mat-icon>people</mat-icon> Project Members: Imed , User</p>
    <p><mat-icon>assignment</mat-icon> Missions: {{ data['missions'] }}</p>
    <p><mat-icon>business</mat-icon> Client: Client1</p>
    <p><mat-icon>work</mat-icon> Project Name: {{ data['name'] }}</p>
    <p><mat-icon>calendar_today</mat-icon> Start Date: {{ data['start_at'] }}</p>
    <p><mat-icon>event</mat-icon> End Date: {{ data['end_at'] }}</p>
    <p><mat-icon>category</mat-icon> Field: {{ data['field'] }}</p>
  </div>
  <div class="actions">
    <button mat-raised-button>OK</button>
  </div>
</div>
